{% extends "base.html" %}

{% block title %}
    {{ user.username }} profile - Edukid
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12 text-center container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <p class="flashes">
                    {% for category, message in messages %}
                        <p class="alert alert-{{ category }} alert-warning mt-3">{{ message }}</p>
                    {% endfor %}
                </p>
            {% endif %}
            {% endwith %}
            <div class="profile-card p-3 mb-4">
                <img src="https://via.placeholder.com/100" alt="Profile Photo" class="profile-img">
                <div class="profile-details mt-3">
                    <h4>Fullname: {{ user.full_name }}</h4>
                    <p>Username: {{ user.username }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row video-grid">
                <h4 class="mt-3 fw-semibold container">Saved videos</h4>
                <!-- Video Thumbnails -->
                {% if videos %}
                    {% for video in videos %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="card">
                            <a href="{{ url_for('web_routes.view_video', video_id=video.video_id, title=video.title, thumbnail=video.thumbnail) }}">
                                <img src="{{ video.thumbnail }}" alt="{{ video.title }}" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h5 class="card-subtitle">{{ video.title }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="bg-body-tertiary container">
                        <p class="text-center mt-5">No videos found. Your saved videos will show here.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.search-toggle').on('click', function() {
            $('.sticky-header .form-inline').toggle();
        });
    });
</script>
{% endblock %}
